
<VirtualHost {{ diaspora_hostname }}:80>
	ServerName {{ diaspora_hostname }}
	RedirectPermanent / https://{{ diaspora_hostname }}/
</VirtualHost>

<VirtualHost {{ diaspora_hostname }}:443>
	ServerName {{ diaspora_hostname }}
	DocumentRoot /var/local/diaspora/public/

	RewriteEngine On

	RewriteCond %{REQUEST_URI} ^/http-bind
	RewriteRule ^/(http\-bind.*)$ balancer://chat%{REQUEST_URI} [P,QSA,L]
	<Proxy balancer://chat>
		BalancerMember http://localhost:5280
	</Proxy>

	RewriteCond %{HTTP_HOST} !^{{ diaspora_rewriteurl }} [NC]
	RewriteRule ^/(.*)$ https://{{ diaspora_rewriteurl }}/$1 [L,R,QSA]

	RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-f
	RewriteRule ^/(.*)$ balancer://upstream%{REQUEST_URI} [P,QSA,L]
 
	<Proxy balancer://upstream>
		BalancerMember http://127.0.0.1:3000
	</Proxy>

	ProxyRequests Off
	ProxyVia On
	ProxyPreserveHost On
	RequestHeader set X_FORWARDED_PROTO https
 
	<Proxy *>
		Require all granted
	</Proxy>
 
	<Directory /var/local/diaspora/public/>
		Options -MultiViews
		Require all granted
	</Directory>

	#
	# letsencrypt certificate entries go here
	#
	# IMPORTANT:
	# When you run certbot to acquire a certificate, the directory /etc/letsencrypt
	# is usually created (if it does not yet exist). Certificates are placed there.
	# If you have more domains on this server and more letsencrypt certificates, it
	# might be that the file names are NOT corresponding to your diaspora hostname.
	# In that case, you need to enter the correct filename here below instead of
	# variable substitution {{ diaspora_hostname }}, otherwise the certificate
	# configuration is screwed next time you run the playbook. If the certificate
	# filenames correspond to your diaspora hostname, you can leave the lines below
	# as they are.
	# Before you run certbot the first time, you should comment these lines out, since
	# certbot analyzes this file and recognizes that the cert files are not present,
	# which results in an error. After the first run the certs exist and the comments
	# can be deleted (if certbot modified this file) or commented in again.
	#
    Include /etc/letsencrypt/options-ssl-apache.conf
    SSLCertificateFile /etc/letsencrypt/live/{{ diaspora_hostname }}/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ diaspora_hostname }}/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/{{ diaspora_hostname }}/chain.pem
</VirtualHost>